@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #2F3B69;
    color: #ffffff;
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
}
p {    
    line-height: 1.5;
    letter-spacing: 1px; 
    
    text-align: center;
}
header {
    padding: 0; 
    text-align: center;
    position: relative; 
    margin-bottom: -4px; 
    white-space:nowrap;
}

header h1 {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 4em; 
    font-weight: bold; 
    opacity: 1; 
}

header h2 {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 3em; 
    font-weight: bold; 
    opacity: 1; 
}
header p {
    position:absolute;
    top: 40%;
    left: 50%; 
    transform: translate(-50%, 500%); 
}

.container {
    display: flex;
    align-items: center;
    max-width: 800px; 
    height:auto;
}
p{
    max-width: 800px; 
}

.container img {
    max-width: 100px;
    margin-right: 20px;
}


nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #131316;
    padding: 15px 0; 
    text-align: center;
    z-index: 1000;
}
nav .right{
    float:right;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
}






section, div{
    display:grid;
    place-items:center;
    align-content: center;
    min-height: auto;
    
}

.nospace{
    min-height:none;
}

.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;  
    filter:blur(0);
    transform: translateX(0);
}
.logos{
    display:flex;
}
.logo:nth-child(2){
    transition-delay: 300ms;
}
.logo:nth-child(3){
    transition-delay: 600ms;
}
.logo:nth-child(4){
    transition-delay: 900ms;
}


.hiddenSpin{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%) rotate(135deg);
    transition: all 2s;
}

.showSpin{
    opacity: 1;  
    filter:blur(0);
    transform: translateX(0) rotate(0deg);
}